<apex:page controller="MetadataController" sidebar="false" >
  
  
  <apex:form title="Metadata Generation">
        
    <apex:pageBlock id="theBlock">
        
    <apex:pageBlockSection >
      <!--
      <apex:pageBlockSectionItem>   
      </apex:pageBlockSectionItem>
     -->    
        <apex:inputText label="Remote User" value="{!remoteUserName}" />
        <apex:outputLabel />
        <apex:inputSecret label="Remote Password" value="{!remotePassword}" />
       <apex:selectList label="Object" value="{!selectedObject}" size="1">
            <apex:selectOptions value="{!Objects}"/>
        </apex:selectList><p/>
        
        
        
    </apex:pageBlockSection>
        
    
        <apex:commandButton id="connect" action="{!Connect2Orgs}" 
                                   value="Connect Remote Org" status="actstatus"
                                   styleClass="buttonStyle" style="background:LightBlue;width:150px;height:30px" reRender="datablock,pageMessages"/> 
        <apex:commandButton id="seach" action="{!MetadataSearch}" 
                                   value="Extract Meta Data" status="actstatus"
                                   styleClass="buttonStyle" style="background:LightBlue;width:150px;height:30px" reRender="datablock,pageMessages"/> 
        <apex:commandButton id="override" action="{!MetadataOverride}" 
                                   value="Override Meta Data" status="actstatus"
                                   styleClass="buttonStyle" style="background:LightBlue;width:150px;height:30px" reRender="datablock,pageMessages"/> 
        
    
        <apex:actionStatus id="actstatus">
            <apex:facet name="start">
                <img src ="{!$Resource.LoadingIcon}"/>
                
            </apex:facet>
        </apex:actionStatus>
    

    
    <apex:pageMessages id="pageMessages"/>
        <apex:pageblocktable value="{!searchResult.fieldList}"  var="rs" id="datablock">
            
            <apex:column headerValue="Label">
                 <apex:outputText value="{!rs.sFieldLabel}"  ></apex:outputText>
            </apex:column>
             <apex:column headerValue="APIName">
                 <apex:outputText value="{!rs.sFieldName}" ></apex:outputText>
            </apex:column>
            <apex:column headerValue="Local's Type">
                 <apex:outputText value="{!rs.localType}"  ></apex:outputText>
            </apex:column>
             <apex:column headerValue="Remote's Type">
                 <apex:outputText value="{!rs.RemoteType}" ></apex:outputText>
            </apex:column>
             <apex:column headerValue="Local's Metadata" style="width:100px">
                 <apex:outputText value="{!rs.localXML}"  style="width:100px;background-color:{!IF(SUBSTITUTE( rs.localXML,  'tvj__', '' )<>rs.RemoteXML,'yellow','none')}"></apex:outputText>
            </apex:column>
             <apex:column headerValue="Remote's Metadata" style="width:100px">
                 <apex:outputText value="{!rs.RemoteXML}" style="width:100px;background-color:{!IF(SUBSTITUTE( rs.localXML,  'tvj__',  '' )<>rs.RemoteXML,'yellow','none')}"></apex:outputText>
            </apex:column>
            
            
            <apex:column headerValue="Override?" >
                  <apex:selectList value="{!rs.selectedOverriden}" size="1" style="width:100px;">
                    <apex:selectOptions value="{!ListofOverriden}" />
                </apex:selectList><p/>
            </apex:column>            
         
            </apex:pageblocktable>
        </apex:pageBlock>                  
    </apex:form> 
</apex:page>