<apex:page >
<!--columnsWidth="32%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%,2%" -->
   <!--
       <apex:pageBlockTable value="{!searchResult}" var="rs" id="theTable"
        rowClasses="odd,even" styleClass="tableClass" >
       
        <apex:column headerValue="Date of Sales">
            <apex:outputtext value="{0,date,dd/MM/yyyy}" style="width:30px;">
                <apex:param value="{!rs.DateofSales}"/>
            </apex:outputText>
        </apex:column>
        
         <apex:column headerValue="DayofWeek">
            <apex:outputText value="{!rs.DayofWeek}" style="background-color:{!IF(rs.DayofWeek='Sunday' || rs.DayofWeek='Saturday' || rs.IsPublicDay=true,'yellow','none')}" />
        </apex:column>
        <apex:column headerValue="AMK Bgd">
            <apex:inputText value="{!rs.Budget_AMK}" style="width:40px;"/>
        </apex:column>
         <apex:column headerValue="AMK Act">
            <apex:outputText value="{!rs.Actual_AMK}" style="background-color:{!IF(NULLVALUE(rs.Actual_AMK,0)>NULLVALUE(rs.Budget_AMK,0),'blue','none')}"/>
        </apex:column>
        
        -->
</apex:page>